workflows/_archive/dirigent-error-handler-snapshot-1778439078.json
{"updatedAt":"2026-04-20T11:43:42.322Z","createdAt":"2026-04-20T11:43:42.322Z","id":"6tKkqkSnJRkvvDnM","name":"DIRIGENT — Error Handler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dirigent/error","responseMode":"onReceived","options":{}},"id":"n1-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"dirigent-error-hook"},{"parameters":{"amount":2,"unit":"minutes"},"id":"n2-wait1","name":"Wait 2 min","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[256,0]},{"parameters":{"jsCode":"// Resolve worker name -> workflow id preko n8n API\nconst body = $input.first().json.body || $input.first().json;\nconst worker = body.worker;\nconst API = 'http://localhost:5678/api/v1';\nconst KEY = $env.N8N_API_KEY;\n\nconst r = await this.helpers.httpRequest({method:'GET', url:`${API}/workflows?limit=250`, headers:{'X-N8N-API-KEY': KEY}, json:true});\nconst wfs = r?.data || [];\n// Match po imenu (contains, case-insensitive)\nconst m = wfs.find(w => w.name && (w.name === worker || w.name.toLowerCase().includes(worker.toLowerCase())));\nif (!m) throw new Error(`Worker not found in workflows: ${worker}`);\nreturn [{ json: { ...body, workflowId: m.id, workflowName: m.name } }];"},"id":"n3-resolve","name":"Resolve worker -> ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,0]},{"parameters":{"method":"POST","url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}/deactivate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env.N8N_API_KEY }}"}]},"options":{"timeout":60000}},"id":"n4-deact","name":"Deactivate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,0]},{"parameters":{"method":"POST","url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}/activate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env.N8N_API_KEY }}"}]},"options":{"timeout":60000}},"id":"n5-act","name":"Activate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,0]},{"parameters":{"amount":3,"unit":"minutes"},"id":"n6-wait2","name":"Wait 3 min","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1280,0]},{"parameters":{"method":"GET","url":"=http://localhost:5678/api/v1/executions?workflowId={{ $('Resolve worker -> ID').item.json.workflowId }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env.N8N_API_KEY }}"}]},"options":{"timeout":30000}},"id":"n7-check","name":"Check last exec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.data?.[0]?.status }}","rightValue":"error","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"n8-if","name":"Still error?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1792,0]},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=🚨 DIRIGENT — auto-fix FAILED\n\nWorker: {{ $('Resolve worker -> ID').item.json.workflowName }}\nOriginal error: {{ $('Resolve worker -> ID').item.json.summary }}\n\nWorkflow restart (deactivate+activate) proveden, ali poslednja exekucija je i dalje error. Ručna intervencija potrebna.","additionalFields":{"parse_mode":"Markdown"}},"id":"n9-telegram","name":"Telegram alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2048,-128],"credentials":{"telegramApi":{"id":"743eZtu88KaQBFYQ","name":"Telegram account 2"}}},{"parameters":{"method":"POST","url":"http://bridge:3100/event","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({worker: 'DIRIGENT', type: 'auto-fix', summary: 'Auto-fixed ' + $('Resolve worker -> ID').item.json.workflowName}) }}","options":{"timeout":5000}},"id":"n10-log","name":"Log auto-fixed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2048,128]}],"connections":{"Webhook":{"main":[[{"node":"Wait 2 min","type":"main","index":0}]]},"Wait 2 min":{"main":[[{"node":"Resolve worker -> ID","type":"main","index":0}]]},"Resolve worker -> ID":{"main":[[{"node":"Deactivate","type":"main","index":0}]]},"Deactivate":{"main":[[{"node":"Activate","type":"main","index":0}]]},"Activate":{"main":[[{"node":"Wait 3 min","type":"main","index":0}]]},"Wait 3 min":{"main":[[{"node":"Check last exec","type":"main","index":0}]]},"Check last exec":{"main":[[{"node":"Still error?","type":"main","index":0}]]},"Still error?":{"main":[[{"node":"Telegram alert","type":"main","index":0}],[{"node":"Log auto-fixed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a5a82f6b-d249-4283-88c9-c0bbe4493f16","activeVersionId":"a5a82f6b-d249-4283-88c9-c0bbe4493f16","versionCounter":746,"triggerCount":1,"shared":[{"updatedAt":"2026-04-20T11:43:42.322Z","createdAt":"2026-04-20T11:43:42.322Z","role":"workflow:owner","workflowId":"6tKkqkSnJRkvvDnM","projectId":"dJyz9OIx2g09kTA2","project":{"updatedAt":"2026-03-25T10:55:16.663Z","createdAt":"2026-03-25T10:49:46.208Z","id":"dJyz9OIx2g09kTA2","name":"Miroslav Paunov <paunov@calderyserbia.com>","type":"personal","icon":null,"description":null,"creatorId":"2b474a91-1a93-47f2-ad40-f1dd7fb03854"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-20T11:43:42.329Z","createdAt":"2026-04-20T11:43:42.329Z","versionId":"a5a82f6b-d249-4283-88c9-c0bbe4493f16","workflowId":"6tKkqkSnJRkvvDnM","nodes":[{"parameters":{"httpMethod":"POST","path":"dirigent/error","responseMode":"onReceived","options":{}},"id":"n1-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"dirigent-error-hook"},{"parameters":{"amount":2,"unit":"minutes"},"id":"n2-wait1","name":"Wait 2 min","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[256,0]},{"parameters":{"jsCode":"// Resolve worker name -> workflow id preko n8n API\nconst body = $input.first().json.body || $input.first().json;\nconst worker = body.worker;\nconst API = 'http://localhost:5678/api/v1';\nconst KEY = $env.N8N_API_KEY;\n\nconst r = await this.helpers.httpRequest({method:'GET', url:`${API}/workflows?limit=250`, headers:{'X-N8N-API-KEY': KEY}, json:true});\nconst wfs = r?.data || [];\n// Match po imenu (contains, case-insensitive)\nconst m = wfs.find(w => w.name && (w.name === worker || w.name.toLowerCase().includes(worker.toLowerCase())));\nif (!m) throw new Error(`Worker not found in workflows: ${worker}`);\nreturn [{ json: { ...body, workflowId: m.id, workflowName: m.name } }];"},"id":"n3-resolve","name":"Resolve worker -> ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,0]},{"parameters":{"method":"POST","url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}/deactivate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env.N8N_API_KEY }}"}]},"options":{"timeout":60000}},"id":"n4-deact","name":"Deactivate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,0]},{"parameters":{"method":"POST","url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}/activate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env.N8N_API_KEY }}"}]},"options":{"timeout":60000}},"id":"n5-act","name":"Activate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,0]},{"parameters":{"amount":3,"unit":"minutes"},"id":"n6-wait2","name":"Wait 3 min","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1280,0]},{"parameters":{"method":"GET","url":"=http://localhost:5678/api/v1/executions?workflowId={{ $('Resolve worker -> ID').item.json.workflowId }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env.N8N_API_KEY }}"}]},"options":{"timeout":30000}},"id":"n7-check","name":"Check last exec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.data?.[0]?.status }}","rightValue":"error","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"n8-if","name":"Still error?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1792,0]},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=🚨 DIRIGENT — auto-fix FAILED\n\nWorker: {{ $('Resolve worker -> ID').item.json.workflowName }}\nOriginal error: {{ $('Resolve worker -> ID').item.json.summary }}\n\nWorkflow restart (deactivate+activate) proveden, ali poslednja exekucija je i dalje error. Ručna intervencija potrebna.","additionalFields":{"parse_mode":"Markdown"}},"id":"n9-telegram","name":"Telegram alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2048,-128],"credentials":{"telegramApi":{"id":"743eZtu88KaQBFYQ","name":"Telegram account 2"}}},{"parameters":{"method":"POST","url":"http://bridge:3100/event","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({worker: 'DIRIGENT', type: 'auto-fix', summary: 'Auto-fixed ' + $('Resolve worker -> ID').item.json.workflowName}) }}","options":{"timeout":5000}},"id":"n10-log","name":"Log auto-fixed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2048,128]}],"connections":{"Webhook":{"main":[[{"node":"Wait 2 min","type":"main","index":0}]]},"Wait 2 min":{"main":[[{"node":"Resolve worker -> ID","type":"main","index":0}]]},"Resolve worker -> ID":{"main":[[{"node":"Deactivate","type":"main","index":0}]]},"Deactivate":{"main":[[{"node":"Activate","type":"main","index":0}]]},"Activate":{"main":[[{"node":"Wait 3 min","type":"main","index":0}]]},"Wait 3 min":{"main":[[{"node":"Check last exec","type":"main","index":0}]]},"Check last exec":{"main":[[{"node":"Still error?","type":"main","index":0}]]},"Still error?":{"main":[[{"node":"Telegram alert","type":"main","index":0}],[{"node":"Log auto-fixed","type":"main","index":0}]]}},"authors":"Miroslav Paunov","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-20T11:59:54.972Z","id":162,"workflowId":"6tKkqkSnJRkvvDnM","versionId":"a5a82f6b-d249-4283-88c9-c0bbe4493f16","event":"activated","userId":"2b474a91-1a93-47f2-ad40-f1dd7fb03854"}]}}