workflows/_archive/dirigent-webhook-receiver-snapshot-1778439753.json
{"updatedAt":"2026-04-23T22:19:14.286Z","createdAt":"2026-04-20T11:43:41.780Z","id":"p2LnMDvYboPj1ymx","name":"DIRIGENT — Webhook Receiver","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dirigent/report","responseMode":"responseNode","options":{}},"id":"n1-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"dirigent-report-hook"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst { worker, status, summary, data } = body;\nif (!worker || !status) {\n  throw new Error('Missing required fields: worker, status');\n}\nconst resolvedSummary = summary || data?.error || 'no summary';\nconst entry = { worker, status, summary: resolvedSummary, data: data || null, timestamp: new Date().toISOString() };\n\n// Persist u bridge: GET list, append, PUT nazad\nconst BRIDGE = 'http://bridge:3100';\nlet cur = [];\ntry {\n  const r = await this.helpers.httpRequest({method:'GET', url:`${BRIDGE}/read/factory_config/reports_today`, json:true});\n  cur = Array.isArray(r?.reports) ? r.reports : (Array.isArray(r) ? r : []);\n} catch(e) { cur = []; }\ncur.push(entry);\ntry {\n  await this.helpers.httpRequest({method:'POST', url:`${BRIDGE}/write/factory_config/reports_today`, body:{reports: cur}, json:true});\n} catch(e) { /* log silently */ }\n\nreturn [{ json: entry }];"},"id":"n2-parse","name":"Parse + persist","type":"n8n-nodes-base.code","typeVersion":2,"position":[256,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"error","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"n3-if","name":"IF status == error","type":"n8n-nodes-base.if","typeVersion":2,"position":[512,0]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/dirigent/error","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":5000}},"id":"n4-call-error","name":"Call Error Handler","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,-128]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ok: true, received: $json}) }}","options":{}},"id":"n5-respond","name":"Respond 200 OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1024,0]}],"connections":{"Webhook":{"main":[[{"node":"Parse + persist","type":"main","index":0}]]},"Parse + persist":{"main":[[{"node":"IF status == error","type":"main","index":0}]]},"IF status == error":{"main":[[{"node":"Call Error Handler","type":"main","index":0}],[{"node":"Respond 200 OK","type":"main","index":0}]]},"Call Error Handler":{"main":[[{"node":"Respond 200 OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"70625136-fd62-425f-9707-12ed1e2701c3","activeVersionId":"70625136-fd62-425f-9707-12ed1e2701c3","versionCounter":749,"triggerCount":1,"shared":[{"updatedAt":"2026-04-20T11:43:41.780Z","createdAt":"2026-04-20T11:43:41.780Z","role":"workflow:owner","workflowId":"p2LnMDvYboPj1ymx","projectId":"dJyz9OIx2g09kTA2","project":{"updatedAt":"2026-03-25T10:55:16.663Z","createdAt":"2026-03-25T10:49:46.208Z","id":"dJyz9OIx2g09kTA2","name":"Miroslav Paunov <paunov@calderyserbia.com>","type":"personal","icon":null,"description":null,"creatorId":"2b474a91-1a93-47f2-ad40-f1dd7fb03854"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-23T22:19:14.288Z","createdAt":"2026-04-23T22:19:14.288Z","versionId":"70625136-fd62-425f-9707-12ed1e2701c3","workflowId":"p2LnMDvYboPj1ymx","nodes":[{"parameters":{"httpMethod":"POST","path":"dirigent/report","responseMode":"responseNode","options":{}},"id":"n1-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"dirigent-report-hook"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst { worker, status, summary, data } = body;\nif (!worker || !status) {\n  throw new Error('Missing required fields: worker, status');\n}\nconst resolvedSummary = summary || data?.error || 'no summary';\nconst entry = { worker, status, summary: resolvedSummary, data: data || null, timestamp: new Date().toISOString() };\n\n// Persist u bridge: GET list, append, PUT nazad\nconst BRIDGE = 'http://bridge:3100';\nlet cur = [];\ntry {\n  const r = await this.helpers.httpRequest({method:'GET', url:`${BRIDGE}/read/factory_config/reports_today`, json:true});\n  cur = Array.isArray(r?.reports) ? r.reports : (Array.isArray(r) ? r : []);\n} catch(e) { cur = []; }\ncur.push(entry);\ntry {\n  await this.helpers.httpRequest({method:'POST', url:`${BRIDGE}/write/factory_config/reports_today`, body:{reports: cur}, json:true});\n} catch(e) { /* log silently */ }\n\nreturn [{ json: entry }];"},"id":"n2-parse","name":"Parse + persist","type":"n8n-nodes-base.code","typeVersion":2,"position":[256,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"error","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"n3-if","name":"IF status == error","type":"n8n-nodes-base.if","typeVersion":2,"position":[512,0]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/dirigent/error","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":5000}},"id":"n4-call-error","name":"Call Error Handler","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,-128]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ok: true, received: $json}) }}","options":{}},"id":"n5-respond","name":"Respond 200 OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1024,0]}],"connections":{"Webhook":{"main":[[{"node":"Parse + persist","type":"main","index":0}]]},"Parse + persist":{"main":[[{"node":"IF status == error","type":"main","index":0}]]},"IF status == error":{"main":[[{"node":"Call Error Handler","type":"main","index":0}],[{"node":"Respond 200 OK","type":"main","index":0}]]},"Call Error Handler":{"main":[[{"node":"Respond 200 OK","type":"main","index":0}]]}},"authors":"Miroslav Paunov","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-23T22:19:14.342Z","id":214,"workflowId":"p2LnMDvYboPj1ymx","versionId":"70625136-fd62-425f-9707-12ed1e2701c3","event":"deactivated","userId":"2b474a91-1a93-47f2-ad40-f1dd7fb03854"},{"createdAt":"2026-04-23T22:19:14.358Z","id":215,"workflowId":"p2LnMDvYboPj1ymx","versionId":"70625136-fd62-425f-9707-12ed1e2701c3","event":"activated","userId":"2b474a91-1a93-47f2-ad40-f1dd7fb03854"}]}}