workflows/_archive/dirigent-webhook-receiver-patched-1778440441.json
{
  "name": "DIRIGENT \u2014 Webhook Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dirigent/report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n1-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "dirigent-report-hook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst { worker, status, summary, data } = body;\nif (!worker || !status) {\n  throw new Error('Missing required fields: worker, status');\n}\nconst resolvedSummary = summary || data?.error || 'no summary';\nconst entry = { worker, status, summary: resolvedSummary, data: data || null, timestamp: new Date().toISOString() };\n\n// Persist u bridge: GET list, append, PUT nazad\nconst BRIDGE = 'http://bridge:3100';\nlet cur = [];\ntry {\n  const r = await this.helpers.httpRequest({method:'GET', url:`${BRIDGE}/read/factory_config/reports_today`, json:true});\n  cur = Array.isArray(r?.reports) ? r.reports : (Array.isArray(r) ? r : []);\n} catch(e) { cur = []; }\ncur.push(entry);\ntry {\n  await this.helpers.httpRequest({method:'POST', url:`${BRIDGE}/write/factory_config/reports_today`, body:{reports: cur}, json:true});\n} catch(e) { /* log silently */ }\n\nreturn [{ json: entry }];"
      },
      "id": "n2-parse",
      "name": "Parse + persist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n3-if",
      "name": "IF status == error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok: true, received: $json}) }}",
        "options": {}
      },
      "id": "n5-respond",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse + persist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + persist": {
      "main": [
        [
          {
            "node": "IF status == error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF status == error": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null
}